@font-face {
  font-family: "regular";
  src: url("./../fonts/text-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "black";
  src: url("./../fonts/text-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("./../fonts/text-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}